<h2>Sign up for an account!<h2>

<form action="/signup" method="post">
    <label>Username: </label>
    <input type="text" name="username" id="username">

    <label>E-Mail: </label>
    <input type="text" name="email" id="email">    

    <label>Password: </label>
    <input type="text" name="password" id="password">

    <input type="submit" value="Submit" id="submit">

</form>