<h2>Add a new book</h2>

<form action="/books/new" method="post">

<p><label>Title: </label>
<input type="text" name="title" id="title"></p>

<p><label>Author: </label>
<input type="text" name="author" id="author"></p>

<p><label>Genre: </label>
<input type="text" name="genre" id="genre"></p>

<p><label>Summary: </label>
<input type="text" name="summary" id="summary"></p>

<p><input type="submit" value="Submit" id="submit"></p>

</form>